body, html {
  box-sizing: border-box;
  background-color: #90A4AE;
}

.flexmain {
    display: flex;
    /*border: 1px green solid;*/
    min-height: 99vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.flexbody {
  display: flex;
  /*border: 2px blue solid;*/
  width: 90%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.colors {
  margin: 10px 10px 10px 10px;
  padding: 0;
}

.blue {
  background-color: blue;
}
.blue:hover {
  background-color: #00159f;
}
.blue:active {
  background-color: #000b73;
}

.red {
  background-color: red;
}
.red:hover {
  background-color: #c90000;
}
.red:active {
  background-color: #7c0202;
}

.yellow {
  background-color: yellow;
}
.yellow:hover {
  background-color: #c7b900;
}
.yellow:active {
  background-color: #6e6c03;
}

.green {
  background-color: green;
}

.green:hover {
  background-color: lime;
}

.green:active{
  background-color: #1b8800;
}

.random {
  animation: colorchange 2s infinite;
  -webkit-animation: colorchange 2s infinite;
}
.random:hover{

}
.random:active{
  border: 5px solid black;
}

@keyframes colorchange {
0%   {background-color: tomato;}
25%  {background-color: #ff3d00;}
50%  {background-color: #6ed162;}
75%  {background-color: #3dbbe9;}
100% {background-color: tomato;}
}
pers
@-webkit-keyframes colorchange {
  0%   {background-color: tomato;}
  25%  {background-color: #ff3d00;}
  50%  {background-color: #6ed162;}
  75%  {background-color: #3dbbe9;}
  100% {background-color: tomato;}
}

.pageinstruct{
  font-family: 'Roboto Slab';
  font-weight: 400;
  text-align: center;
  margin: 25px 0 -10px 0;
  padding: 0;
  color: #ecf0f1;
}

button {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 16px;
  font-size: 40pt;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  width: 30vmin;
  height: 30vmin;
}
